<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender with Color -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!-- color log -->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %green([%-50.50class]) >>> %cyan(%msg) %n
            </pattern>
        </layout>
    </appender>

    <!-- Root Logger -->
    <root level="info">
        <appender-ref ref="consoleLog" />
    </root>
</configuration>
